# Added to template
workshop.py
results/*
data/*
logs/*
success_stories/*
.DS_Store
*/.DS_Store
/.vscode
.vscode
.idea/
*.log
# *.ipynb
src/pycocotools/*
notebooks/.ipynb_checkpoints
pretrained/exp_*/exp*
!notebooks/*
# notebooks/*
# pretrained/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site
